body {
    font-family: Arial, sans-serif;
    margin: 200px 500px;
    padding: 0;
    background-color: #f0f0f0;
}
.conatiner{
    display: flex;
    flex-direction: row;
}

.main2{
    background-image: url(Red.jpg);
    width: 120%;
}
#login-username, #login-password{
    font-size: 15px;
    padding: 10px;
}
#app {
    text-align: center;
    margin-top: 0rem;
}

#auth-container {
    display: flex;
    justify-content: space-around;

}
.div1{
    line-height: 3;
}
#login-form, #profile {
    margin-left: 29rem;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #ccc;
    width: 35%;


}

button {
    padding: 10px;
    cursor: pointer;
    width: 50%;
    background-color: rgb(96, 96, 226);
    color: #f0f0f0;
    border-radius: 12px;
}


@media screen and (max-width: 600px){
    *{
        margin: 0rem;
        padding: 0rem;
    }
    body{
        background-image: url(Red.jpg) ;
        max-width: 0%;
        height: 2rem;
    }
    div#login-form {
        width: 203px;
        margin-left: -334px;
        margin-top: -113px;
    }
    .main2{
        background-image: url(Red.jpg);
        width: 120%;
    }
}